---
layout: default
---
{% assign campo = page.ordenar | default: "ordem" %}
{% assign itens = site[page.colecao] | sort: campo %}
{% if page.inverter %}{% assign itens = itens | reverse %}{% endif %}
<section class="dividida">
  {% include capa.html titulo=page.title cor=page.cor imagem=page.capa %}
  <ul class="lista">
    {% for item in itens %}
    <li>
      <a href="{{ item.url | relative_url }}">
        <span class="lista__titulo">{{ item.title }}</span>
        <span class="lista__cats">{{ item.categorias | join: " - " }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
